$dark:#000;
$light:#fff;
// Dark Tone
$dark01:rgba(0, 0, 0, 0.1);
$dark02:rgba(0, 0, 0, 0.2);
$dark03:rgba(0, 0, 0, 0.3);
$dark04:rgba(0, 0, 0, 0.4);
$dark05:rgba(0, 0, 0, 0.5);
$dark06:rgba(0, 0, 0, 0.6);
$dark07:rgba(0, 0, 0, 0.7);
$dark08:rgba(0, 0, 0, 0.8);
$dark09:rgba(0, 0, 0, 0.9);
// Light Tone
$light01:rgba(255, 255, 255, 0.1);
$light02:rgba(255, 255, 255, 0.2);
$light03:rgba(255, 255, 255, 0.3);
$light04:rgba(255, 255, 255, 0.4);
$light05:rgba(255, 255, 255, 0.5);
$light06:rgba(255, 255, 255, 0.6);
$light07:rgba(255, 255, 255, 0.7);
$light08:rgba(255, 255, 255, 0.8);
$light09:rgba(255, 255, 255, 0.9);


// Main Color
$mainColor:#371B58;
// Main2 Color
$main2Color:#4C3575;

$main3Color:#5B4B8A;